@import "globalVariables";

@media screen and (min-width: 901px) {
  @import "./desktop";
}

@media screen and (max-width: 900px) {
  @import "./mobile";
}

.d-none {
  display: none;
}

.attribution {
  font-size: 0.8rem;
  color: $grayish-blue;
  text-align: center;
  padding: 10px 0;
  a {
    color: $grayish-blue;
    text-decoration: underline;
  }
}
